@using IESPeniasNegras.Ecotrans.Nucleo.Acciones.Donacion
@*<% using (html.BeginForm("Index", "Donacion", null, FormMethod.Post, new {@ = "myForm", @ = "myForm"})) {%>*@

@model  ListarDonacionResponse

<h2>Listado de Donaciones</h2>
@Html.ActionLink("Nueva Donacion", "Nuevo", "Donaciones", null, new { @class="btn btn-info" })
@if (Model.Elementos.Count == 0)
{
    <h3>UPPS .... Lo sentimos ,no hay ninguna donacion  registrada</h3>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>FechaInicio</th>
                <th>FechaFinal</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var donacion in Model.Elementos)
            {
                <tr>
                    <td>@donacion.Usuario</td>
                    <td>@Html.ActionLink(@donacion.Usuario, "Detalles", new {donacion= donacion.Usuario})</td>
                    <td>@donacion.Titulo</td>
                    <td>@donacion.Usuario</td>
                    <td>@donacion.Descripcion</td>
                    <td>@donacion.FechaInicio</td>
                    <td>@donacion.FechaFinal</td>


                </tr>

                <form method="post" >
        <fieldset>
          <legend>Añadir Donacion</legend>
          <div>
            <label for="Ecotrans">Ecotrans:</label>
            <input type="text" name="Ecotrans" value="" />
            @Html.ValidationMessage("Ecotrans")
          </div>
          <div>
            <label for="Contacto">Contacto:</label>
            <input type="text" name="Contacto" value="" />
            @Html.ValidationMessage("Contacto")
          </div>
          <div>
            <label for="Donacion">Donacion:</label>
            <input type="text" name="Donacion" value="" />
            @Html.ValidationMessage("Donacion")
          </div>
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
          </div>
        </fieldset>
      </form>

          


            }
        </tbody>
    </table>
}
